.contacto { width: 200px;
    padding-left: 50px;
    padding-bottom: 50px;
    position: relative; left: 350px; top: 100px;
    display: flex;
    flex-direction: column;
    color:white;
    }


.boton {color: black;}