.planestitulo {text-decoration: underline;
    font-size: 60px; color: red;
    }

    .planes {display: flex;
            flex-wrap: wrap;
        justify-content: center;
    }

    .plan1 { width: 500px;
            display: inline-block;
            padding: 30px;
            border: 1px solid white;
            margin: 20px;
            flex-direction: column;
            position: relative;
            color:white;
            transition: 1s;
            &:hover {transform:scale(1.2)}
    }

    .plan2 { width: 500px;
        display: inline-block;
        padding: 30px;
        border: 1px solid white;
        margin: 20px;
        flex-direction: column;
        position: relative;
        color:white;
        transition: 1s;
        &:hover {transform:scale(1.2)}
    }

    .plan3 { width: 500px;
        display: inline-block;
        padding: 30px;
        border: 1px solid white;
        margin: 20px;
        flex-direction: column;
        position: relative;
        color:white;
        transition: 1s;
        &:hover {transform:scale(1.2)}
    }

    .nutri { width: 500px;
        padding: 30px;
        border: 1px solid white;
        margin: 20px;
        flex-direction: column;
        position: relative;
        color:white;
        transition: 1s;
        &:hover {transform:scale(1.2)}
}
.info {color: black;
    position: absolute;
    bottom: 5px;
    right: 250px;}